.vs
.vscode
.DS_Store
.cache
.venv
/venv
/build
/build_*
/bazel-*
/binding/build
CMakeSettings.json
html
build_mingw
perf
check.ll
*.pyc
*.egg-info
klocwork_x86_release_build/
klocwork_aarch64_release_build/
klocwork_tricore_release_build/
__pycache__
wasm-tools
