{
  "version": "2.0",
  "standard": "autosarc++14",
  "title": "AUTOSAR C++14 Rules",
  "deviations": [
    {
      "deviation": "A3-3-2",
      "reason": "Need thread local to store wasm module context"
    },
    {
      "deviation": "A5-1-1",
      "reason": "magic number can be tolerate in compiler"
    },
    {
      "deviation": "M5-0-15",
      "reason": "Need pointer operator to handle binary"
    },
    {
      "deviation": "M5-0-16",
      "reason": "dynamic allocated memory is needed by compiler but it is not regarded as array"
    },
    {
      "deviation": "M5-2-6",
      "reason": "register C/C++ apis to wasm need cast function pointer to void*"
    },
    {
      "deviation": "A11-3-1",
      "reason": "remove friend will increase the complexity of current code very much"
    },
    {
      "deviation": "A14-5-2",
      "reason": "vtable lookup of class will cost memory cpu. Another rule requires all member must be private. Those two rule together will make coding very difficult"
    },
    {
      "deviation": "A16-0-1",
      "reason": "cross platform code and compile mode config need marco"
    },
    {
      "deviation": "A17-0-2",
      "reason": "Third party lib on github can't be all conform to Autosar"
    },
    {
      "deviation": "A18-5-1",
      "reason": "Memory utils need them"
    },
    {
      "deviation": "M18-7-1",
      "reason": "passive protector need signal handler"
    },
    {
      "deviation": "M19-3-1",
      "reason": "poxis api calls need this information"
    },
    {
      "deviation": "A27-0-4",
      "reason": "we need the snprintf to format the compiler error message. Use std::string need dynamic memory allocation, it's another violate to the design concept. It's only used on compile time string, so that no risk."
    },
    {
      "deviation": "A2-7-3",
      "reason": "Doxygen is used for this check"
    },
    {
      "deviation": "A0-1-1",
      "reason": "Unused variable are already checked by compiler, only reset is constexpr. Some instructions in reserved for future; Some are used in cross compile case"
    },
    {
      "deviation": "A8-4-8",
      "reason": "need output parameters"
    },
    {
      "deviation": "M2-10-1",
      "reason": "This check is case insensitive"
    },
    {
      "deviation": "M6-4-3",
      "reason": "Using a return statement for non-empty switch-clause is acceptable"
    },
    {
      "deviation": "M6-4-5",
      "reason": "Using a return statement for non-empty switch-clause is acceptable"
    },
    {
      "deviation": "M0-1-4",
      "reason": "use -Wunused-result as a replacement"
    },
    {
      "deviation": "A4-7-1",
      "reason": "needed by compiler"
    },
    {
      "deviation": "M7-5-2",
      "reason": "FIXME, This check has bug, reported to coverity, may need to be reenabled in new version when it's fixed"
    },
    {
      "deviation": "M6-6-3",
      "reason": "use continue in while-loop in needed"
    },
    {
      "deviation": "M5-3-1",
      "reason": "FIXME, This check has bug, reported to coverity, may need to be reenabled in new version when it's fixed. can use readability-implicit-bool-conversion as a replacement"
    },
    {
      "deviation": "A15-1-3",
      "reason": "Compiler can throw same exception such as validation exception in multi location"
    },
    {
      "deviation": "A15-5-2",
      "reason": "Currently call OS api can lead to this warning, but no better way to handle OS api error"
    },
    {
      "deviation": "A2-10-5",
      "reason": "FIXME, This check has bug, reported to coverity, may need to be reenabled in new version when it's fixed."
    },
    {
      "deviation": "A2-7-2",
      "reason": "The definition of commented out code is very unclear. For example // NOLINTNEXTLINE(checker-name) can also be regarded as a function call style code"
    },
    {
      "deviation": "M11-0-1",
      "reason": "FIXME: It can be fixed later, as the changes to the existing code would be too extensive"
    },
    {
      "deviation": "M0-1-10",
      "reason": "Compiler need expose some functions won't be called by itself"
    },
    {
      "deviation": "A0-1-3",
      "reason": "Compiler need expose some functions"
    },
    {
      "deviation": "A2-3-1",
      "reason": "Autosar has a tricky problem of '"
    },
    {
      "deviation": "A3-9-1",
      "reason": "Need const char* from string. Also can be converted by google-runtime-int"
    },
    {
      "deviation": "A13-5-3",
      "reason": "Need user defined conversion"
    },
    {
      "deviation": "A5-16-1",
      "reason": "This rule leads to too many useless temp variables"
    },
    {
      "deviation": "A8-4-4",
      "reason": "This rule leads to unnecessary memory copy if a param is both used as in and out"
    },
    {
      "deviation": "A8-4-10",
      "reason": "Pointer arithmetic is often used on StackElement, so pointer is a more convenient parameter"
    },
    {
      "deviation": "A9-5-1",
      "reason": "This repo is C++14, so Union is required"
    },
    {
      "deviation": "A9-6-1",
      "reason": "FIXME, This check has bug, reported to coverity, may need to be reenabled in new version when it's fixed. Bit field is not used in this repo"
    },
    {
      "deviation": "A18-9-2",
      "reason": "FIXME, This check has bug, reported to coverity, may need to be reenabled in new version when it's fixed. use bugprone-move-forwarding-reference and bugprone-use-after-move instead"
    },
    {
      "deviation": "A3-1-1",
      "reason": "FIXME, This check has bug, may need to be reenabled in new version when it's fixed"
    },
    {
      "deviation": "A8-4-9",
      "reason": "FIXME, This check has bug, reported to coverity, may need to be reenabled in new version when it's fixed"
    },
    {
      "deviation": "A6-4-1",
      "reason": "FIXME, This check has bug, reported to coverity, may need to be reenabled in new version when it's fixed"
    },
    {
      "deviation": "A13-5-2",
      "reason": "FIXME, This check has bug, reported to coverity, may need to be reenabled in new version when it's fixed"
    },
    {
      "deviation": "M2-13-3",
      "reason": "Too many false positive"
    },
    {
      "deviation": "A0-1-6",
      "reason": "Too many false positive"
    }
  ]
}
