beartype==0.18.5
black==24.4.2
boolean.py==4.0
click==8.1.7
colorama==0.4.6
gitdb==4.0.11
GitPython==3.1.43
isodate==0.6.1
license-expression==30.3.0
mypy-extensions==1.0.0
packaging==24.1
pathspec==0.12.1
platformdirs==4.2.2
ply==3.11
pyparsing==3.1.2
PyYAML==6.0.1
rdflib==7.0.0
semantic-version==2.10.0
six==1.16.0
smmap==5.0.1
spdx-tools==0.8.2
uritools==4.0.3
wasmtime==35.0.0
xmltodict==0.13.0
